#Cal{
    width: 170px;
    margin: auto;
    padding: 20px;
    border: 2px solid rgb(95, 92, 92);
    border-radius: 10px;
    background-color: red;
}

#display{
    width: 100%;
    height: 40px;
    margin-bottom: 10px;
    border-radius: 5px;
    text-align: right;
    font-size: 24px;
    padding-right: 10px;
    box-sizing: border-box;
    background-color: white;
    border: 1px solid rgb(95, 92, 92);
}

#button-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

}

.button{
    width: 40px;
    height: 40px;
    margin: 3px; 
    border-radius: 5px;
    background-color: rgb(199, 199, 199);
    border: none;
    font-weight: bold;
    cursor: pointer;
}