*{
   text-align: center;

}

body{
    background-color: lightblue;
}

.header{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    
}
.header img{
    width: 40px;
    height: 40px;
      border-radius: 50%;
}    
#main{
    margin: auto;
    width: 50%;
    border: 3px solid black;
    padding: 10px;
    background-color: lightgreen;
    border-radius: 10px;
}


#UserChoice{
    font-size: 20px;
    color: blue;
    background-color: lightgray;
    margin-top: 10px;
    width: 150px;
   height: 30px;
   border-radius: 5px;
   border: 3px solid black;
}
#computerChoice{
    font-size: 20px;
    color: red;
    background-color: lightgray;
    margin-top: 10px;
    width: 150px;
   height: 30px;
   border-radius: 5px;
   border: 3px solid black;
}
#resultMsg{
    font-size: 20px;
    color: green;
    background-color: lightgray;
    margin-top: 10px;
    width: 300px;
   height: 30px;
   border-radius: 5px;
   border: 3px solid black;
}

.computerChoice, .userChoice{
    display: inline-block;
    margin: 10px 20px;
}

.child{
   margin-top: 20px;
   background-color: lightyellow;
   width: 400px;
   height: 100px;
   border-radius: 10px;
   align-items: center;
   justify-content: center;
   display: inline-block;
}

.button{
    font-size: 20px;
    color: white;
    background-color: orange;
    margin: 10px 10px;
    width: 100px;
   height: 60px;
   border-radius: 5px;
   border: 3px solid black;
   cursor: pointer;
}