*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.container{
   
    width: 100%;
    min-height: 100vh;
   
    padding: 10px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    background: linear-gradient(135deg, #153677, #4e085f);
}
.todo-app{
    width: 100%;
    max-width: 540px;
    background: antiquewhite;
    margin: 100px auto 20px;
    padding: 40px 30px 70px;
    border-radius: 10px;
}
.todo-app h2{
    margin-bottom: 20px;
    font-size: 2rem;
    color: #333;
    display: flex;
    align-items: center;
}
.todo-app h2 img{
    width: 30px;
    margin-left: 10px;
    border-radius: 50px;
    animation: rotate 4s linear infinite;
}

.row{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #edeef0;
    border-radius: 30px;
    padding-left: 20px;
    margin-bottom: 25px; ;
}
input[type="text"]{
    width: 80%;
    height: 40px;
    border: none;
    outline: none;
    background: transparent;
    font-size: 1.1rem;
    padding: 10px;
    color: #333;
}
button{
    border: 5px solid antiquewhite;
    outline: none;
    padding: 16px 50px;
    background: #153677;
    color: #fff;
    font-size: 16px;
    border-radius: 40px;
    cursor: pointer;
    
}
ul li{
    list-style: none;
    font-size: 17px;
    padding: 12px 8px 12px 50px;
    user-select: none;
    cursor: pointer;
    position: relative;
    
}
ul li::before{
    content: '';
    position: absolute;
    height: 28px;
    width: 28px;
    border-radius: 100%;
    background-image:url(circle.png) ;
    background-size: cover;
    background-position: center;
    top: 12px;
    left: 8px;
}

ul li.checked{
    text-decoration: line-through;
    color: #888;
}

ul li.checked::before{
    background-image:url(Checked.png) ;
    
}
ul li span{
    position: absolute;
    right: 0;
    top: 5px;
    width: 40px;
    height: 40px;
    font-size: 20px;
    color: red;
    line-height: 40px;
    text-align: center;
    cursor: pointer;
    border-radius: 100%;
}
ul li span:hover{
    background: #ffdddd;
   
}  

.footer{
    text-align: center;
    color: #fff;
    margin-top: 20px;
    

}
